*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color:#FF8C00;
    text-align-last: center;
    border-radius: 50px;
    
}


.btn{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF8C00;
    background-color: black;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-radius: 50px;
    border: none;
    padding: 20px;
    
}

.container{
    text-align: center;
}

.btn:hover{
    color: black;
    background-color: #FF8C00;
    cursor: pointer;
    transition: 0.2s;
}

.circle{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #FF8C00;
    color: black;

}

.square{
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: #FF8C00;
    color: black;


}

.traingle{
    margin-top: 50px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent; 
    border-bottom: 200px solid orange;

}

.shapecontainer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}